.dashboard {
	color: white;

	.header-container {
		padding: 0px 0 30px;
		.title {
			display: flex;
			font-size: 2em;
			height: 70px;
			padding: 20px 40px 10px;
			border-bottom: 1px solid black;
			align-items: center;
			p {
				flex: 1;
			}

			.anticon-search {
				padding: 3px;
				border-radius: 50%;
				&:hover {
					background: rgba(255, 255, 255, 0.4);
				}
			}
		}

		.search-bar {
			display: flex;
			padding: 10px 40px;
			align-items: center;
			height: 70px;
			border-bottom: 1px solid black;

			.input {
				margin-right: 20px;
				flex: 1;
			}

			.close-btn {
				padding: 5px;
				border-radius: 50%;
				font-size: 1.7em;
				&:hover {
					background: rgba(255, 255, 255, 0.4);
				}
			}
		}

		.add-btn {
			padding: 10px 0 0;

			.add {
				background: #74c7e9;
				box-shadow: 4px 4px 0px #64424224;
				color: white;
			}
		}
	}

	.list-container {
		background: white;
		height: 75vh;
		color: #333;
	}
}

.list-item {
	display: flex;
	padding: 15px 30px;
	text-align: left;
	align-items: center;
	border-bottom: 1px solid #000;

	&:hover {
		background: rgba(100, 188, 190, 0.2);
	}

	.icon {
		margin-right: 10px;
		font-size: 2em;
	}

	.description {
		flex: 1;

		.title {
			font-weight: 700;
		}
	}

	.amount {
		color: rgb(238, 103, 103);
	}
}
